<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="js/energycalculator.js"></script>
  </head>

  <body>

    <div class="container">
      <div id="app">
        <div>Wattage</div>
        <div>
          <input v-model="wattage" type="number">
          {{ wattage }} W
        </div>
        <div>
          <input v-model="usageHours" type="number">
          {{ usageHours }} h
        </div>
        <div>
          <input v-model="price" type="number">
          {{ price }} cents per kWh
        </div>
        <div>
          <h3>Daily Cost: {{ convertToCurrency( dailyCost, '$0,0.00' ) }}</h3>
          <h3>Monthly Cost: {{ convertToCurrency( monthlyCost, '$0,0.00' ) }}</h3>
        </div>
      </div>
    </div>

  </body>
</html>
